<app-header></app-header>
<div class="container mt-4">
  <div class="rounded border custom-border-color p-3">
    <table class="table table-bordered table-dark">
      <tbody class="custom-font">
      <tr>
        <td>Imię</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Nazwisko</td>
        <td>{{user.surname}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td colspan="2">Roles</td>
      </tr>
      <ng-container *ngFor="let roles of user.roles">
        <tr>
          <td colspan="2" style="text-align: left;">{{roles?.name}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="userAdmin" class="container mt-4">
  <div class="rounded border custom-border-color p-3">
    <table class="table table-bordered table-dark">
      <tbody class="custom-font">
      <tr>
        <td>Dodaj użytkownika </td>
        <td>
          <button type="button" [routerLink]="['/addNewUser']">ADD USER</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
