.custom-font{
  font-size: 12px;
}
.main-td{
  vertical-align: middle;
}
.custom-input{
  background: var(--input-background-color);
  color: #383B53;
}
.edit-modal{
  background: var(--brown-dark);
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.confirm-button{
  background-color: var(--orange-light);
  color:white;
}

.validator-text{
  font-size: 20px;
}
