<div style="justify-content: center; align-items: center; display: flex; height: 100vh; ">
  <div class="login-card">
    <div class="login-text">Email:</div>
    <input class="login-input"  [(ngModel)]="email" placeholder="Login" />
    <div class="login-text">Haslo:</div>
    <input class= "login-input" type="password" [(ngModel)]="password" placeholder="Hasło" />
    <div class="login-buttons">
      <div (click)="onLoginClick()" class="btn custom-button">Zaloguj</div>
      <div (click)="onNewAccountClick()" class="btn custom-button">Nowe Konto</div>
    </div>
  </div>
</div>
