<div style="justify-content: center; align-items: center; display: flex; height: 100vh; ">
  <div class="login-card">
    <input class="login-input" type="text" [(ngModel)]="email" placeholder="Login" />
    <input class= "login-input" type="text" [(ngModel)]="password" placeholder="Hasło" />
    <div class="login-buttons">
      <div (click)="onLoginClick()" class="login-button">
        <div class="login-button-text">Zaloguj</div>
      </div>
      <div class="login-button">
        <div class="login-button-text">Nowe Konto</div>
      </div>
    </div>
  </div>
</div>
